@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (height: 100dvh) {
  .h-screen {
    height: 100dvh;
  }
}

* {
  box-sizing: border-box;
}

/*
* Custom Body.
*/
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  @apply h-full w-screen bg-zinc-900 text-gray-50;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next,
#__next-root {
  height: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}
